.results-table {
    font-family: 'Commissioner', sans-serif;
}

.results-table table {
    margin-left: auto;
    margin-right: auto;
}

.results-table table th.rc-table-cell  {
    font-size: 1.4rem;
}

.results-table table td.rc-table-cell  {
    font-size: 1.2rem;
}

.info-text {
    font-size: 1.1rem;
    padding-right: 10px;
    padding-left: 10px;
}

@media only screen and (max-width: 750px) {

    .results-table table th.rc-table-cell  {
        font-size: 1.2rem;
    }

    .results-table table td.rc-table-cell, .info-text  {
        font-size: 1.0rem;
    }
}

.rc-table-thead {
    background: var(--bg-color);
}

.rc-table-row {
    background: rgba(67, 119, 180, 0.38);
}

.row-highlight {
    background: rgba(152, 69, 196, 0.38);
}