.links-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin: 1em;
}

.links-row {
    display: flex;
    flex-direction: column;
    width: 42%;

    font-size: 1.2rem;
}

@media only screen and (max-width: 750px) {
    .links-row {
        font-size: 1rem;
    }
}