.links-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin: 1em;
}

.links-row {
    display: flex;
    flex-direction: column;
    width: 42%;

    font-size: 1.1rem;
}
