.about-row, .about-row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    position: relative;
}

.about-row {
    align-items: center;
}

.header-column {
    display: flex;

    width: calc(100% - 450px);
    flex-direction: column;
    padding: 10px;
}

.about-text {
    font-size: 1.4rem;
    font-family: 'Commissioner', sans-serif;
}

.section-subHeader {
    font-size: 1.8rem;
    font-family: 'Rubik', sans-serif;
}

.year-divider {
    border: 0;
    width: 40%;
    height: 4px;
    background-image: linear-gradient(90deg, transparent 0%, rgba(231, 162, 90, 0.95) 15%, rgba(231, 162, 90, 0.95) 85%, transparent 100%);
}

.main-image {
    display: flex;

    margin: 50px 20px 40px -85px;
    transform: rotateZ(345deg);
    width: 450px;

    position: relative;
}

.about-img {
    height: auto;

    min-width: 80px;
    max-width: 100%;
    margin-top: 10px;
    box-shadow: 2px 2px 5px #333;
}

.about-row2 {
    align-items: flex-start;

    margin-left: 1rem;
    margin-top: 1rem;

    overflow: hidden;
}

.i1r, .i2r, .i3r, .i4r, .i5r {
    position: relative;
    aspect-ratio: initial;
    width: fit-content;
}


.i2r {
    transform: rotateZ(350deg);
    top: -7vh;
    right: -22vw;
    z-index: 3;
}

.i2r img {
    width: 400px;
}

.i3r {
    right: -100px;
    top: -50px;
    transform: rotateZ(5deg);
    z-index: 4;
}

.i4r {
    top: -10vh;
    margin-bottom: 5vh;
    left: 5%;
    transform: rotateZ(30deg);
    z-index: 2;
}

.i5r {
    top: -8vh;
    z-index: 1;
}

.col-text {
    display: flex;

    width: 50%;
    flex-direction: column;
    padding: 10px;

    word-break: break-word;
}

.col-img {
    display: flex;

    width: calc(50% - 50px);
    flex-direction: column;
    padding: 10px 10px 0 10px;
}

@media only screen and (max-width: 750px) {
    .about-row {
        flex-direction: column;
    }

    .about-row2 {
        margin-left: 0;
    }

    .header-column, .main-image, .col-text, .col-img {
        width: 95%;
    }

    .about-text {
        font-size: 1.1rem;
    }

    .section-subHeader {
        font-size: 1.4rem;
    }

    .section-header {
        font-size: 1.8rem;
    }

    .i2r {
        right: -15vw;
    }

    .i2r img {
        width: 300px;
    }

    .i3r {
        right: 0;
    }

    .i4r {
        left: -5%;
    }
}