.slide-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    position: relative;
}

.info-column, .picture-column {
    flex-direction: column;
    
    justify-content: flex-start;
    text-align: left;
}

.info-column {
    width: calc(75% - 100px);
    align-items: flex-start;
    padding-left: 50px;
    margin-right: 10px;
}

.picture-column {
    width: 25%;
    text-align: center;
}

.picture-column img {
    width: 100%;
    height: auto;
}

.info-column .name {
    font-size: 2.2rem;
    font-weight: bold;
}

.info-column .pr {
    font-size: 1.2rem;
    margin-right: 10px;
    font-style: italic;
    font-weight: normal;
}

.info-column .title {
    font-size: 1.6rem;
    font-style: italic;
    margin-bottom: 10px;
}

.info-column .sub-info {
    font-size: 1.1rem;
    text-align: justify;
}

.weapon-img {
    width: 64px;
    height: auto;
    margin-right: 10px;
}

@media only screen and (max-width: 750px) {
    .slide-block {
        flex-direction: column;
    }

    .info-column {
        width: calc(100% - 100px);
    }

    .picture-column {
        position: absolute;
        top: -10vh;
        right: 20px;
    }

    .picture-column img {
        height: 200px;
        width: auto;
    }

    .info-column .name {
        font-size: 1.5rem;
    }

    .info-column .pr {
        font-size: 0.9rem;
    }

    .info-column .title {
        font-size: 1.2rem;
    }

    .info-column .sub-info {
        font-size: 0.9rem;
    }

    .weapon-img {
        width: 32px;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 500px) {
    .picture-column {
        display: none;
    }
}