.flex-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em auto;

  background-repeat: no-repeat;
  background-position: right;
  aspect-ratio: initial;

  font-family: 'Commissioner', sans-serif;
}

.player-list-block {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: auto;

  margin-right: 1em;
  margin-bottom: 1em;

  justify-content: center;
  align-items: center;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: inherit;
}

.player-list {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-right: 30px;
  text-align: left;
  list-style-type: none;

  font-size: 1.5rem;
}

@media only screen and (max-width: 750px) {
  .player-list {
    font-size: 1.2rem;
  }

  .player-list-block {
    background-position: top; /* weird, but works */
  }
}

.player-list .active-slide-label {
  color: var(--active-link-color);
  font-weight: bold;
  cursor: auto;
}

.player-list .slide-label {
  transition: 0.2s;
  color: var(--link-color);
  cursor: pointer;
}

.player-list .retired-slide-label {
  transition: 0.2s;
  color: var(--retired-link-color);
  cursor: pointer;
}

.player-list .slide-label:hover {
  color: var(--hover-link-color);
}

.player-list .divider {
  margin-bottom: 0;
  border: 0;
  height: 4px;
  background-image: linear-gradient(90deg, rgba(231, 162, 90, 0.95) 0%, rgba(231, 162, 90, 0.95) 85%, transparent 100%);
}

.members-block {
  display: flex;

  width: fit-content;
  max-width: 100%;
  height: auto;

  background-repeat: no-repeat;
  background-position: right;
  aspect-ratio: initial;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 1.1rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.4 !important;
}

.swiper-pagination-bullet-active {
  background: #d259e3 !important;
  opacity: 1 !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #b951c9 !important;
}
