.flex-all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em auto;

    background-repeat: no-repeat;
    background-position: right;
    aspect-ratio: initial;

    font-family: 'Commissioner', sans-serif;
}

.player-list-block {
    display: flex;
    width: 280px;
    height: auto;

    margin-right: 1em;
    margin-bottom: 1em;

    justify-content: center;
    align-items: center;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: inherit;
}

.player-list {
    padding-right: 30px;
    text-align: left;
    list-style-type: none;

    font-size: 1.5rem;
}

@media only screen and (max-width: 750px) {
    .player-list {
        font-size: 1.2rem;
    }

    .player-list-block {
        background-position: top; /* weird, but works */
    }
}

.player-list .activeSlide {
    color: var(--active-link-color);
    font-weight: bold;
    cursor: auto;
}

.player-list .slide {
    color: var(--link-color);
    cursor: pointer;
}

.members-block {
    display: flex;

    width: fit-content;
    max-width: 100%;
    height: auto;

    background-repeat: no-repeat;
    background-position: right;
    aspect-ratio: initial;
}

.swiper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 1.1rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.swiper-pagination-bullet {
    background: white !important;
    opacity: 0.4 !important;
}

.swiper-pagination-bullet-active {
    background: #d259e3 !important;
    opacity: 1 !important;
}

.swiper-button-next, .swiper-button-prev {
    color: #b951c9 !important;
}