.footer-block {
    margin-top: auto;
    border-top: 2px solid rgba(139, 58, 182, 0.63);
    padding-bottom: 12px;
    padding-top: 12px;

    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 1.7;
}

.text-a {
    color: #d7d7d7;
    line-height: 24px;
}

.gh-link {
    color: var(--link-color);
    text-decoration: none;
    margin-left: 10px;
}

.text-b {
    color: #939393;
    font-size: 12px;
}