.footer-block {
  margin-top: auto;
  border-top: 2px solid rgba(139, 58, 182, 0.63);
  padding-bottom: 12px;
  padding-top: 6px;

  font-family: 'Commissioner', sans-serif;
  font-size: 18px;
}

.text-a {
  color: #d7d7d7;
  margin-bottom: 5px;
}

.gh-link {
  color: var(--link-color);
  text-decoration: none;
  margin-left: 10px;
}

.text-b {
  color: #939393;
  font-size: 12px;
}

@media only screen and (max-width: 750px) {
  .footer-block {
    font-size: 16px;
    padding-bottom: 6px;
  }

  .text-b {
    font-size: 10px;
  }
}
