:root {
  --link-color: #ffbf85;
  --active-link-color: #d5a8ee;
  --text-color: white;
  --bg-color: #151515;
}

.anim-bg-block {
  background-repeat: repeat;
  animation: bgMove 60s linear infinite;

  color: var(--text-color);
}

.anim-bg-block a {
  color: var(--link-color);
}

@keyframes bgMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -754px 0;
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  text-align: center;
}

.description {
  margin-top: 10px;

  font-size: calc(12px + 1vmin);
  text-align: justify;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;

  line-height: 1.5;
}

.main-text {
  margin-top: 10px;

  font-size: calc(10px + 1vmin);
}

.section-subHeader {
  font-size: 1.8rem;
  font-family: 'Rubik', sans-serif;
}

.section-header {
  font-size: 2.5rem;
  font-family: 'Rubik', sans-serif;
}
