.app {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  min-height: 100vh;

  text-align: center;
}

.app-header {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  padding-top: 16px;
  padding-bottom: 16px;

  background-color: #ffdb91;
  color: black;
}

.description {
  margin-top: 10px;

  font-size: calc(12px + 1vmin);
  text-align: justify;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;

  margin: auto;

  line-height: 1.5;
}

.main-text {
  margin-top: 10px;

  font-size: calc(10px + 1vmin);
}

.footer-block {
  margin-top: auto;
  border-top: 2px solid #f5e5bc;
  padding-bottom: 12px;
  padding-top: 12px;

  color: #504a4a;
  font-family: 'Balsamiq Sans', sans-serif;
  font-size: 14px;
}

.gh-logo {
  fill: #6d6c6c;
  transition: 0.3s;
}

.gh-logo:hover {
  fill: #322f2f;
  transition: 0.3s;
  transform: scale(1.2);
}