:root {
  --link-color: #ffbf85;
  --hover-link-color: #ff9336;
  --active-link-color: #ffec5c;
  --inactive-link-color: #8ce6f3;
  --retired-link-color: #ac93ef;
  --text-color: white;
  --bg-color: #151515;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;

  line-height: 1.5;
}

.anim-bg-block {
  background-repeat: repeat;
  animation: bgMove 60s linear infinite;

  color: var(--text-color);
}

.anim-bg-block a {
  transition: 0.2s;
  color: var(--link-color);
}

.anim-bg-block a:hover {
  color: var(--hover-link-color);
}

@keyframes bgMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -754px 0;
  }
}

.section-divider {
  border: 0;
  height: 4px;
  background-image: linear-gradient(
    90deg,
    transparent 0%,
    rgba(231, 162, 90, 0.95) 15%,
    rgba(231, 162, 90, 0.95) 85%,
    transparent 100%
  );
}

.twitter-icon,
.discord-icon,
.maps-icon,
.vk-icon {
  color: #b88dbd;
  transition: 0.3s;
}

.twitter-icon:hover,
.discord-icon:hover,
.maps-icon:hover,
.vk-icon:hover {
  transition: 0.3s;
  transform: scale(1.2);
}

.twitter-icon:hover {
  color: #1da1f2;
}

.discord-icon:hover {
  color: #5865f2;
}

.vk-icon:hover {
  color: #4c75a3;
}

.maps-icon:hover {
  color: #b54efa;
}
